*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
   
}
.love1{
    color: navy;
    text-align: left;
    font-weight: 200;
    text-decoration: solid;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-bottom: 3%;
    font-size: larger;
    margin-bottom: 0%;
    margin-top: 10%;

    
}

body {
    background-image: url(/learnmore\ back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    
}


